*,
*:before,
*:after {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
.nav span {
  text-align: center;
  display: block;
}

.topbar {
  float: right;
  margin: -30px 10px;
}
.topbar a {
  color: white;

  margin: 10px;
}
.nav-items a:last-child {
  display: none;
}

@media (max-width:768px) {
  .nav-items {
    float: right;
  }
}

.nav-items {
  float: left;
  margin: -30px 10px;
}
.nav-items a {
  color: white;
  text-decoration: none;
}
.nav-overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 10000;
  background-color: black;
  overflow-x: hidden;
  transition: all 0.2s;
  padding-top: 60px;
  text-align: center;
}

.nav-overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  color: #E8F4F7;
  display: block;
  transition: 0.2s;
}

.nav-overlay a:hover {
  color: white;
}

.nav-overlay .toggle-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  font-size: 22px;
}

.nav-overlay .toggle-nav:hover {
  cursor: pointer;
  background-color: #005a75;
}

@media screen and (max-width: 768px) {
  .nav-items {
    float: right;
  }
  .nav-items a {
    display: none;
    padding: 0;
  }
  .nav-items a:last-child {
    display: none;
  }
  .nav-items a:last-child {
    display: block;
    padding: 10px;
    margin: 0;
    border-bottom: none;
  }
  .nav span {
    text-align: left;
    display: block;
    position: absolute;
    padding: 10px;
  }
  .topbar {
    padding: 10px;
  }
  .nav-items a:last-child {
    display: block;
  }
}

.nav-items a:last-child:hover {
  cursor: pointer;
  border: none;
  color: black;
  background-color: #0099c4;
}

/* Logo */

.logo {
  max-width: 100px;
}

/* Logo End */

nav {
  display: grid;
  color: white;
  line-height: 10px;

  background: black;


}
.nav a {
  margin: 10px;
}

@media (max-width:768px) {
  nav {
    line-height: 175px;
  }
}